body{
    background-image: url(../images/21\ Vintage\ Books\ to\ Make\ You\ Nostalgic\ ___.jfif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div1{
    width: 70%;
    max-width: 1100px;
    height: auto;
    border-radius: 10px;
    background-color: beige;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.div1 img{
    width: 60px;
    height: auto;
    border-radius: 10px;
}

.title1{
    color: rgba(0, 0, 0, 0.692);
}

.div1 ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.div1 li a{
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.parent{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}


.div2, .div3, .div4{
    width: 100%;
    max-width: 265px;
    height: auto;
    background-color: beige;
    border-radius: 15px;
    text-align: center;
} 

@media (max-width: 768px) {
    .div1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .div1 ul {
        display: none;
    }
}

.mini1, .mini2, .mini3{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin: auto;
    background-image: url(../images/onlinecourse.jfif);
    background-size: cover;
}

.mini2{
    background-image: url(../images/Image\ May\ Contain\ Table\ And\ Indoor.jfif);
}

.mini3{
    background-image: url(../images/New\ Brainrot_.jfif);
}

.p1{
    padding: 15px;
    word-spacing: 3px;
    line-height: 25px;
}

.p2{
    text-decoration: overline;
}

.btn{
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(99, 158, 76);
    font-size: 1rem;
    border-radius: 10px;
    margin: 10px 0 20px 0;
    border: 0;
}

.div1 li a:hover{
    color: rgb(240, 39, 39);
}

.btn:hover{
    background-color: rgb(53, 13, 13);
}

p::selection{
    background-color: rgb(233, 94, 89);
}